
*{overflow: hidden;}

@font-face {
  font-family: slkscr;
  src: url(slkscr.ttf);
}

.masthead{
  z-index: 10;
}

#particles{
       position: absolute;
    }

#particle-container{
       position: absolute;
    }

#subtitle{
  position: absolute;
  text-align: left;
  top: 50vh;
  color: white;
  font-family: slkscr;
}


@keyframes particle-animation-1 {
  100% {
    transform: translate3d(51vw, 53vh, 75px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.86;
  height: 14px;
  width: 14px;
  animation-delay: -0.2s;
  transform: translate3d(50vw, 7vh, 42px);

}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(45vw, 39vh, 22px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.58;
  height: 12px;
  width: 12px;
  animation-delay: -0.4s;
  transform: translate3d(44vw, 2vh, 19px);

}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(41vw, 26vh, 70px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.16;
  height: 13px;
  width: 13px;
  animation-delay: -0.6s;
  transform: translate3d(57vw, 19vh, 12px);

}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(15vw, 52vh, 73px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.43;
  height: 5px;
  width: 5px;
  animation-delay: -0.8s;
  transform: translate3d(75vw, 67vh, 6px);

}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(66vw, 74vh, 73px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.72;
  height: 14px;
  width: 14px;
  animation-delay: -1s;
  transform: translate3d(34vw, 76vh, 44px);
 
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(60vw, 85vh, 7px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.03;
  height: 5px;
  width: 5px;
  animation-delay: -1.2s;
  transform: translate3d(56vw, 5vh, 69px);
 
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(75vw, 22vh, 68px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.63;
  height: 12px;
  width: 12px;
  animation-delay: -1.4s;
  transform: translate3d(85vw, 90vh, 80px);

}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(6vw, 48vh, 30px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.96;
  height: 12px;
  width: 12px;
  animation-delay: -1.6s;
  transform: translate3d(16vw, 40vh, 24px);

}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(36vw, 10vh, 55px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.33;
  height: 12px;
  width: 12px;
  animation-delay: -1.8s;
  transform: translate3d(56vw, 88vh, 88px);

}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(16vw, 8vh, 41px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.4;
  height: 12px;
  width: 12px;
  animation-delay: -2s;
  transform: translate3d(1vw, 70vh, 16px);

}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(58vw, 79vh, 2px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.52;
  height: 11px;
  width: 11px;
  animation-delay: -2.2s;
  transform: translate3d(18vw, 75vh, 67px);

}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(2vw, 36vh, 72px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.58;
  height: 14px;
  width: 14px;
  animation-delay: -2.4s;
  transform: translate3d(55vw, 51vh, 57px);

}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(4vw, 84vh, 99px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.71;
  height: 12px;
  width: 12px;
  animation-delay: -2.6s;
  transform: translate3d(76vw, 57vh, 4px);

}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(50vw, 56vh, 81px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.44;
  height: 14px;
  width: 14px;
  animation-delay: -2.8s;
  transform: translate3d(32vw, 15vh, 2px);

}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(25vw, 88vh, 8px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.36;
  height: 5px;
  width: 5px;
  animation-delay: -3s;
  transform: translate3d(29vw, 77vh, 84px);

}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(47vw, 72vh, 31px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.49;
  height: 5px;
  width: 5px;
  animation-delay: -3.2s;
  transform: translate3d(1vw, 13vh, 29px);
  
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(39vw, 48vh, 70px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.37;
  height: 5px;
  width: 5px;
  animation-delay: -3.4s;
  transform: translate3d(84vw, 78vh, 95px);
 
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(22vw, 4vh, 5px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.13;
  height: 14px;
  width: 14px;
  animation-delay: -3.6s;
  transform: translate3d(40vw, 39vh, 97px);

}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(40vw, 17vh, 6px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.65;
  height: 11px;
  width: 11px;
  animation-delay: -3.8s;
  transform: translate3d(43vw, 29vh, 22px);

}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(23vw, 64vh, 45px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.57;
  height: 14px;
  width: 14px;
  animation-delay: -4s;
  transform: translate3d(17vw, 59vh, 22px);

}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(80vw, 72vh, 17px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.31;
  height: 5px;
  width: 5px;
  animation-delay: -4.2s;
  transform: translate3d(70vw, 4vh, 26px);

}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(53vw, 83vh, 15px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.75;
  height: 14px;
  width: 14px;
  animation-delay: -4.4s;
  transform: translate3d(52vw, 26vh, 70px);

}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(44vw, 6vh, 8px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.4;
  height: 13px;
  width: 13px;
  animation-delay: -4.6s;
  transform: translate3d(89vw, 41vh, 77px);

}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(17vw, 28vh, 79px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.2;
  height: 12px;
  width: 12px;
  animation-delay: -4.8s;
  transform: translate3d(68vw, 7vh, 24px);

}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(1vw, 38vh, 29px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.81;
  height: 5px;
  width: 5px;
  animation-delay: -5s;
  transform: translate3d(76vw, 34vh, 16px);

}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(58vw, 42vh, 56px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.37;
  height: 5px;
  width: 5px;
  animation-delay: -5.2s;
  transform: translate3d(51vw, 20vh, 84px);

}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(79vw, 81vh, 45px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.16;
  height: 13px;
  width: 13px;
  animation-delay: -5.4s;
  transform: translate3d(59vw, 6vh, 62px);

}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(8vw, 63vh, 6px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.46;
  height: 14px;
  width: 14px;
  animation-delay: -5.6s;
  transform: translate3d(82vw, 79vh, 43px);

}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(78vw, 48vh, 25px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.68;
  height: 13px;
  width: 13px;
  animation-delay: -5.8s;
  transform: translate3d(54vw, 16vh, 8px);

}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(59vw, 83vh, 97px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.74;
  height: 5px;
  width: 5px;
  animation-delay: -6s;
  transform: translate3d(63vw, 24vh, 45px);

}